In [1]:
#Pandas podstawy - nauka
#impotrowanie bibliotek
import pandas as pd

In [2]:
# wczytanie pliku w CSV (biblioteka pd) 
df = pd.read_csv(R'C:\Users\user\Desktop\StudiaPodyplomow_DataScience_Python\4Wizualizacjaieksploracjadanych\iris.csv')
# df = pd.read_csv(R'C:\Users\user\Desktop\StudiaPodyplomow_DataScience_Python\4Wizualizacjaieksploracjadanych\Efektywnosc.csv')

# wyrzuczenie danych na ekran , 5 obserwacji 
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
#wczytanie pliku excel 
#pip install xlsxwriter
#pip install xlrd
# df = pd.read_excel('faktury.xls', sheet_name = 'faktury')
# df.to_excel('output.xlsx',sheet_name='Sheet_name_1', engine='xlsxwriter')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa